﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="painel_administrator.aspx.cs" Inherits="Clients_Management.View.painel_administrator" %>
<asp:Content ID="Content1" ContentPlaceHolderID="HeadContent" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="FeaturedContent" runat="server">
</asp:Content>
<asp:Content ID="Content3" ContentPlaceHolderID="MainContent" runat="server">
    <div id="section_header">
  <div class="container">
    <h2><span>Painel de Control -   ADMINISTRACION DE VENDAS </span></h2>
  </div>
</div>
<div id="about_section_1"></div>

<div id="Div1">
  <div class="container">
    <div class="row">
     <div class="col-lg-12">        
      <p>Hola NOMBRA ADMINISTRATOR 
     </div>
     <p>&nbsp;</p>
     <div class="col-md-12">
       <p><a href="cd_vendedor.aspx" target="_self">Catastro y Mantenimiento de Vendedores</a><br>
         <a href="cd_empresa.html">Catastro y Mantenimiento de Clientes</a><br>
         <a href="cd_metas.html" target="_self">Catastro de Metas Cada Vendedor</a><br>
         <a href="cd_ventas.html" target="_self">Catastro de Ventas Cada Vendedor</a> <br>
         <a href="form_informe.html" target="_self">Formulario de informe</a> <br>
         <a href="cd_grantt.html" target="_self">Carta Grantt</a> - Todavia no hay hecho la programacion, solo esta la pantalla<br>
       	 <a href="form_diashabiles.html" target="_self">Formulario Días hábiles de  trabajo del mes </a><br>
         <a href="form_bdn.html" target="_self">Planilla del BDN</a> - Todavia no hay hecho la programacion, solo esta la pantalla<br>
       <p>&nbsp;</p>
       <p>Todavia no hay hecho</p>
       <p>&nbsp; </p>
       <p>Relaciones Clientes X Vendedores</p>
       <p>&nbsp;</p>
       <p><br>
       </p>
       <h3>&nbsp;</h3>
      </div>
	 
	 
	 <div class="row"></div>
	 
	 
	 
	 
	 
	 
	 
	 
	 
	 
    </div>
  </div>
</asp:Content>
