﻿<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="Site.master.cs" Inherits="Clients_Management.SiteMaster" %>

<!DOCTYPE html>
<html lang="en">
<head id="Head1" runat="server">
    <meta charset="utf-8" />
    <title>WEB GESTION VENTAS</title>
    <webopt:BundleReference ID="BundleReference1" runat="server" Path="~/Content/css" /> 
    <!-- Bootstrap -->
        <link href="Content/bootstrap.css" rel='stylesheet' type='text/css'/>
        <!-- Font Awesome  -->
        <link href="Content/font-awesome.min.css" rel="stylesheet">
        <!-- Web Font  -->
        <link href='Content/fontgoogle.css' rel='stylesheet' type='text/css'>
        <!-- Custom CSS -->
        <link href="Content/style.css" rel="stylesheet" type="text/css" media="all"/> 

        <link rel="stylesheet" href="http://www.asksystems.com.br/webgestion/css/menu.css">
        <!-- Latest compiled and minified CSS -->
       
        <!-- Latest compiled and minified Jquery library -->
        <script src='https://code.jquery.com/jquery-2.1.1.min.js'></script>

        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>




    <meta name="viewport" content="width=device-width" />
    <asp:ContentPlaceHolder runat="server" ID="HeadContent" />
</head>
<body>
    <form id="Form1" runat="server">
    <ajaxToolkit:ToolkitScriptManager ID="ToolkitScriptManager1" runat="server">
        <Scripts>
            <%--To learn more about bundling scripts in ScriptManager see http://go.microsoft.com/fwlink/?LinkID=272931&clcid=0x409 --%>
            <%--Framework Scripts--%>
            
            <asp:ScriptReference Name="jquery" />
            <asp:ScriptReference Name="jquery.ui.combined" />     
                      
            <%--Site Scripts--%>

        </Scripts>
    </ajaxToolkit:ToolkitScriptManager>
    <header>
<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
      <a id="A1" runat="server" class="navbar-brand" href="~/Default.aspx"><img id="Img1" runat="server" src="~/images/logo2.jpg" width="268" height="58"></a> </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li class="active"><a id="A2" runat="server" href="~/Default.aspx">Home</a></li>
        <li><a id="A3" runat="server" href="~/nosotros.aspx">SADOVnsystem</a></li>
        <li><a id="A4" runat="server" href="~/login.aspx">Login</a></li>
         <li><a id="A5" runat="server" href="~/contact.aspx">Contactenos</a></li>
	 </ul>
    </div>
  </div>
</nav>  
        
        
     <div class="container">
 
     <div class="navbar navbar-default" role="navigation">

    <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
           
        </div>
        <div class="collapse navbar-collapse">
            
            <ul class="nav navbar-nav">
                <li class="active"><a id="A47" runat="server" href="~/login.aspx">LOGIN</a></li>
                     <% 
                    if (Session["admin"]!=null)
                    {
                         %>
                <li>
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">ADMINISTRACION DE VENTAS <b class="caret"></b></a>
                    <ul class="dropdown-menu multi-level">
                       
					   <li class="dropdown-submenu">
                         <a href="#" class="dropdown-toggle" data-toggle="dropdown">CONTROL DE OPERACIONES CONEXAS</a>
                            <ul class="dropdown-menu">
                                <li><a id="A6" runat="server" href="~/View/cd_ventas_diarias.aspx">INGRESO DE VENTAS</a></li>
                                <li><a id="A48" runat="server" href="~/View/agenda_visitas_vendedor.aspx">AGENDA Y CONTROL DE VISITAS DEL VENDEDOR</a></li>
                                <li><a id="A55" runat="server" href="~/View/#">INFORMES PERIODICOS</a></li>
                                <li><a id="A367" runat="server" href="~/View/informe_cobertura_vendedor.aspx">COBERTURAS POR VENDEDORES</a></li>
								<li><a id="A361" runat="server" href="~/View/informe_cobertura_cliente.aspx">COBERTURAS POR CLIENTES</a></li>                                
                                
								
                                
                            </ul>
                        </li>
					   
					   
					   
					   
					   
					   <li class="dropdown-submenu">
                         <a href="#" class="dropdown-toggle" data-toggle="dropdown">RESULTADOS E INFORMES</a>
                            <ul class="dropdown-menu">
                                <li><a id="A11" runat="server" href="~/View/cd_panelcontrol_admin.aspx">PANEL DE CONTROL</a></li>
                                <li><a id="A12" runat="server" href="~/View/cd_informe_consolidado_3.aspx">INFORMES OPERATIVOS DE VENDEDORES</a></li>
								<li><a id="A13" runat="server" href="~/View/informe_desempenho_diario.aspx">INFORMES DIARIOS DE VENTAS</a></li>
								<li><a id="A14" runat="server" href="~/View/informe_desempenho_geral.aspx">DESEMPEÑO GENERAL</a></li>
								
							</ul>
                        </li>
						
											   
                         <li class="dropdown-submenu">
                         <a href="#" class="dropdown-toggle" data-toggle="dropdown">DESPLIEGUE GENERAL</a>
                            <ul class="dropdown-menu">
                                <li><a id="A15" runat="server" href="~/View/cd_vendedor.aspx">EQUIPO DE VENTAS</a></li>
                                <li><a id="A16" runat="server" href="~/View/cd_empresa.aspx">CARTERA DE CLIENTES</a></li>
                                <li><a id="A17" runat="server" href="~/View/cd_ventas.aspx">METAS DE VENTAS</a></li>
                                
                            </ul>
                        </li>
                        
                        
                        
                        <li class="dropdown-submenu">
                         <a href="#" class="dropdown-toggle" data-toggle="dropdown">PLANIFICACION</a>
                            <ul class="dropdown-menu">
                                <li><a id="A18" runat="server" href="~/View/cd_metas.aspx">ASIGNACION DE METAS</a></li>
                                <li><a id="A19" runat="server" href="~/View/cd_diasuteis.aspx">CONTROL DIAS HABILES DEL MES</a></li>
								<li><a id="A20" runat="server" href="~/View/cd_paramentrosCartaGantt.aspx">CONTROL AGENDA ANUAL</a></li>
                                
                            </ul>
                        </li>
						
						
						
						<li class="dropdown-submenu">
                         <a href="#" class="dropdown-toggle" data-toggle="dropdown">ADMINISTRACION DE LA CARTERA DE CLIENTES</a>
                            <ul class="dropdown-menu">
                                <li><a id="A21" runat="server" href="~/View/cd_clientes.aspx">CREAR CLIENTE</a></li>
                                <li><a id="A22" runat="server" href="~/View/form_vendedor.aspx">CREAR VENDEDOR</a></li>
                                <li><a id="A23" runat="server" href="~/View/cd_asignar.aspx">ASIGNAR CARTERA DE CLIENTES</a></li>
								<li><a id="A24" runat="server" href="~/View/cd_assignar_grantt.aspx">FIJAR TAMAÑO CARTERA DE CLIENTES</a></li>
                                
                            </ul>
                        </li>
						
						
						<li class="dropdown-submenu">
                         <a href="#" class="dropdown-toggle" data-toggle="dropdown">ADMINISTRACION DE OPERACIONES DE VENTAS</a>
                            <ul class="dropdown-menu">
                                <li><a id="A25" runat="server" href="~/View/parametros_gerais.aspx">LIMITES OPERATIVOS</a></li>
                                <li><a id="A26" runat="server" href="~/View/agenda_visitas.aspx">ADMINISTRACION DE PLAN DE COBERTURA</a></li>
                                
								
                                <li class="dropdown-submenu">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">ESTRATEGIA OPERATIVA</a>
                                    <ul class="dropdown-menu">
                                         <li><a id="A27" runat="server" href="~/View/cd_produtos.aspx">CREAR GRUPOS DE PRODUCTOS</a></li>
                                         <li><a id="A28" runat="server" href="~/View/GrupoVendedores.aspx">CREAR GRUPOS DE VENTAS</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
						
						
						
						
						
						
						
						
                        
                        
                        
                        
                        
                    </ul>
                </li>
                  <% 
                        }
                         %>
                                 <% 
                    if (Session["vendedor_2"]!=null)
                    {
                         %>
                <li>
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">FUERZA DE VENTAS <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li class="dropdown-submenu">
                         <a href="#" class="dropdown-toggle" data-toggle="dropdown">OPERACION DE VENTAS</a>
                            <ul class="dropdown-menu">
                                <li><a id="A29" runat="server" href="~/View/agenda_visitas.aspx">AGENDA DE VISITAS</a></li>
                                <li><a id="A30" runat="server" href="~/View/form_informe.aspx">INFORME DIARIO</a></li>
								<li><a id="A31" runat="server" href="~/View/cd_bdn.aspx">INFORME BDN</a></li>
                                <li><a id="A32" runat="server" href="~/View/cd_bdp.aspx">INFORME BDP</a></li>
                                
                            </ul>
                        </li>
						
                        <li class="dropdown-submenu">
                         <a href="#" class="dropdown-toggle" data-toggle="dropdown">CONSULTAS E INFORMES</a>
                            <ul class="dropdown-menu">
                                <li><a id="A33" runat="server" href="~/View/cd_empresa_view.aspx">CARTERA DE CLIENTES</a></li>
                                <li><a id="A34" runat="server" href="~/View/cd_ventas_view.aspx">METAS</a></li>
								<li><a id="A35" runat="server" href="~/View/cd_ventas_diarias_view.aspx">VENTAS</a></li>
								<li><a id="A7" runat="server" href="~/View/cd_Brecha.aspx">BRECHA</a></li>
                                                             
                            </ul>
                        </li>
                        <li class="dropdown-submenu">
                         <a href="#" class="dropdown-toggle" data-toggle="dropdown">CONTROL DE COBERTURAS</a>
                            <ul class="dropdown-menu">
                                <li><a id="A36" runat="server" href="~/View/informe_desempenho_diario_vendedor.aspx">ARCHIVO DE INFORMES / DIARIOS DE VENTAS</a></li>
                                <li><a id="A37" runat="server" href="~/View/informe_cobertura.aspx">COBERTURAS POR VENDEDOR</a></li>								
								<li class="dropdown-submenu">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">INFORMES PERIODICOS</a>
                                    <ul class="dropdown-menu">
                                         <li><a id="A38" runat="server" href="~/View/cd_informe.aspx?filtro=novisitados">ANALISE CRITICO POR CLIENTE</a></li>
                                         <li><a id="A39" runat="server" href="~/View/cd_informe.aspx?filtro=sinbdn">CLIENTES SIN BDN NI PROYECTOS</a></li>
                                        <li><a id="A40" runat="server" href="~/View/cd_informe.aspx?filtro=cotizacaodominante">COTIZACIONES DOMINANTES</a></li>
										<li><a id="A_40" runat="server" href="~/View/cd_bdn_dominante.aspx">COTIZACIONES SOLAMENTE DOMINANTES</a></li>
                                    </ul>
                                </li>
                                                             
                            </ul>
                        </li>
                       <li class="dropdown-submenu">
                         <a href="#" class="dropdown-toggle" data-toggle="dropdown">INFORME DE RESULTADOS</a>
                            <ul class="dropdown-menu">
                                <li><a id="A41" runat="server" href="~/View/cd_informe_consolidado_2.aspx">INFORME AVANCE CONSOLIDADO</a></li>
                                <li><a id="A42" runat="server" href="~/View/cd_panelcontrol.aspx">PANEL DE CONTROL</a></li>
								
                                                             
                            </ul>
                        </li>
                       
                                               
                                              
                    </ul>
                </li>
                 <% 
                        }
                         %>
				
                                   <% 
                    if (Session["vendedor"]!=null && Session["vendedor_2"]==null)
                    {
                         %>
				<li>
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">DIRECCION DE VENTAS <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a id="A43" runat="server" href="~/View/cd_panelcontrol.aspx">PANEL DE CONTROL</a></li>
                        <li><a id="A44" runat="server" href="~/View/informe_proyectivo.aspx">INFORME PROYECTIVO</a></li>
                        <li class="dropdown-submenu">
                         <a href="#" class="dropdown-toggle" data-toggle="dropdown">INFORMES DE GESTION</a>
                            <ul class="dropdown-menu">
                                <li><a id="A45" runat="server" href="~/View/">COBERTURA</a></li>
                                <li><a id="A46" runat="server" href="~/View/">CRITICOS</a></li>
								<li><a id="A49" runat="server" href="~/View/">BDN DOMINANTES</a></li>
                                <li><a id="A50" runat="server" href="~/View/cd_bdn_direccion.aspx">BASES DE NEGOCIOS</a></li>
                                <li><a id="A51" runat="server" href="~/View/">BASES DE PROYECTOS</a></li>
                                
                            </ul>
                        </li>
                        <li><a id="A52" runat="server" href="~/View/#">RESULTADOS</a></li>
                        <li><a id="A53" runat="server" href="~/View/#">TENDENCIAS</a></li>

                                              
                    </ul>
                </li>
				 <% 
                        }
                         %>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</div>

















  </div>
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
                  
    </header>
    <div id="body">
        <asp:ContentPlaceHolder runat="server" ID="FeaturedContent" />
        <section class="content-wrapper main-content clear-fix">
            <asp:ContentPlaceHolder runat="server" ID="MainContent" />
        </section>
    </div>
    <footer>
            <!-- Footer -->
            <div id="footerwrap">
              <div class="container">
                <div class="row">
                   <div class="col-md-12"> <span class="copyright">Copyright &copy; 2015 Consultor.CL</span></div>      
                </div>
              </div>
            </div>
            <!-- Bootstrap core JavaScript --> 
            <script type="text/javascript" src="js/bootstrap.min.js"></script>
    </footer>
    </form>
</body>
</html>
