﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="adm_parametros.aspx.cs" Inherits="Clients_Management.View.adm_parametros" %>
<asp:Content ID="Content1" ContentPlaceHolderID="HeadContent" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="FeaturedContent" runat="server">
</asp:Content>
<asp:Content ID="Content3" ContentPlaceHolderID="MainContent" runat="server">
    <div id="section_header">
  <div class="container">
    <h2><span>ADMINISTRAR CARTERA DE CLIENTES</span></h2>
  </div>
</div>
<div id="Div1"></div>    
       
 <div id="about_section_1">
  <div class="container">
    <div class="row">
     <div class="col-lg-12">        
      <p>Hola NOMBRA ADMINISTRATOR 
     </div>
     <p>&nbsp;</p>
     <div class="col-md-12" align="center">
       <a id="A1" runat="server" href="~/View/cd_asignar.aspx" target="_self" class="btn btn-success btn-lg">Asigna la cartera de clientes</a>&nbsp;
       <a id="A2" runat="server" href="#" class="btn btn-success btn-lg">Acceder a su meta</a>&nbsp;
	   <a id="A4" runat="server" href="~/View/cd_bdn.aspx" class="btn btn-success btn-lg">BDN</a>&nbsp;
       <a id="A3" runat="server" href="~/View/cd_BDN_view.aspx" class="btn btn-success btn-lg">BDN View</a>&nbsp;
       <a id="A5" runat="server" href="#" class="btn btn-success btn-lg">Informes</a></br></br>
	
      </div>
	 
	 
	 <div class="row"></div>
	 
	 
	 
	
	 
	 
	 
	 
    </div>
  
  
  
  
<div class="row">  
<div class="col-lg-12" align="center">
    <asp:Button ID="btnVoltar" runat="server" class="btn btn-success btn-lg" Text="Volver a Parametros" PostBackUrl="~/View/parametros.aspx" />
<p></p>
</div>
</div>

</div>
     </div>
  <!-- Why choose us Section -->
  <!-- Our clients Section -->
  <!-- Footer -->
</asp:Content>
