﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="cd_empresa_view.aspx.cs" Inherits="Clients_Management.View.cd_empresa_view" EnableEventValidation="false" %>
<asp:Content ID="Content1" ContentPlaceHolderID="HeadContent" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="FeaturedContent" runat="server">
</asp:Content>
<asp:Content ID="Content3" ContentPlaceHolderID="MainContent" runat="server">
      

  <div class="container">
       <ol class="breadcrumb">
  <li><a id="A1" runat="server" href="~/login.aspx">LOGIN</a></li>
  <li><a href="#">FUERZA DE VENTAS</a></li>
  <li><a href="#">CONSULTAS E INFORMES</a></li>
  <li class="active">CARTERA DE CLIENTES</li>
</ol>
    <div class="row">
     <div class="col-lg-12">        
      <asp:Label ID="lblNombre" runat="server" Text="Vendedor"></asp:Label>
     </div>
     <p>&nbsp;</p>
  
     </div>
	 
	 
	 <div class="row">
    <div class="col-md-12">
		<div class="well">
			<h4 class="text-center">CARTERA DE CLIENTES</h4>
           
            <hr width="70%">	
            <asp:GridView ID="gdvDados" AllowSorting="true" runat="server" CssClass="table table-striped table-bordered table-condensed" Font-Size="11px"  OnSorting="gdvDados_Sorting">
            </asp:GridView>		
            <asp:Label ID="lblTotal" runat="server" Text="00"></asp:Label>	
                        <asp:Button ID="Button2" Visible="true" runat="server" class="btn btn-primary" Text="Exportar Excel" OnClick="Button2_Click" />	
            <asp:Button ID="Button3" Visible="true" runat="server" class="btn btn-primary" Text="Exportar PDF" OnClick="Button3_Click" /> <a href="javascript:window.print()" title="Imprimir" class="btn btn-primary" role="button">Imprimir</a>								
		</div>
	</div>
 
</div>
	 
	 
	 
	 
	 
	 
	 
	 
	 
	 
    </div>
  
  
  
  
 <div class="row">  
  



</div>
  
  
  
  </div>




  <!-- Why choose us Section -->
  <!-- Our clients Section -->
  <!-- Footer -->
</asp:Content>
