﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="cd_grantt.aspx.cs" Inherits="Clients_Management.View.cd_grantt" %>
<asp:Content ID="Content1" ContentPlaceHolderID="HeadContent" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="FeaturedContent" runat="server">
</asp:Content>
<asp:Content ID="Content3" ContentPlaceHolderID="MainContent" runat="server">
        <div id="section_header">
  <div class="container">
    <h2><span>GRANTT DE COBERTURA</span></h2>
  </div>
</div>
<div id="Div1"></div>    
       
 <div id="about_section_1">
  <div class="container">
    <div class="row">
     <div class="col-lg-12">        
      <p>Hola NOMBRA ADMINISTRATOR 
     </div>
     <p>&nbsp;</p>
     <div class="col-md-12" align="center">
	    <a id="A1" runat="server" href="~/View/cd_assignar_grantt.aspx" class="btn btn-success btn-lg">Asignar Gantt de Cobertura</a>&nbsp;&nbsp;
         <a id="A2" runat="server" href="~/View/cd_carta_gantt.aspx" class="btn btn-success btn-lg">Carta Gantt</a>&nbsp;&nbsp;
         <a id="A3" runat="server" href="~/View/cd_gantt_cobertura.aspx" class="btn btn-success btn-lg">Gantt de Cobertura</a></br></br>
      </div>

	 
	 <div class="row"></div>
	 
	 
	 
	
	 
	 
	 
	 
    </div>
  
  
  
  
<div class="row">  
<div class="col-lg-12" align="center">
    <asp:Button ID="btnVoltar" runat="server" class="btn btn-success btn-lg" Text="Volver a Parametros" PostBackUrl="~/View/parametros.aspx" />
<p></p>
</div>
</div>

</div>
     </div>
  <!-- Why choose us Section -->
  <!-- Our clients Section -->
  <!-- Footer -->
</asp:Content>
