﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="cd_ventas_vendedor.aspx.cs" Inherits="Clients_Management.View.cd_ventas_vendedor" %>
<asp:Content ID="Content1" ContentPlaceHolderID="HeadContent" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="FeaturedContent" runat="server">
</asp:Content>
<asp:Content ID="Content3" ContentPlaceHolderID="MainContent" runat="server">
     
    
<div id="section_header">
  <div class="container">
    <h2><span>METAS DE VENTAS</span></h2>
  </div>
</div>
<div id="Div1"></div>
          
<div id="about_section_1">
  <div class="container">
    <div class="row">
     <div class="col-lg-12">        
      <p><asp:Label ID="lblNombre" runat="server" Text="Hola NOMBRA ADMINISTRATOR "></asp:Label></p>
     </div>    

     </div>
	  <p></p>
	 
	 <div class="row">
    <div class="col-md-12">
		<div class="well">
			<h4 class="text-center">METAS DE VENTAS</h4>
			<hr width="60%">
            <asp:GridView ID="gdvDados" runat="server" CssClass="table table-striped" Font-Size="12px">
                <Columns>
                </Columns>
            </asp:GridView>		
		</div>
	</div>
 
</div>
	 
	 
	 
	 
	 
	 
	 
	 
	 
	 
    </div>
  
  
  
  
 <div class="row">  
  
<div class="col-lg-12" align="center">
    <asp:Button ID="btnVoltar" runat="server" class="btn btn-success btn-lg" Text="Volver Fuerza de Ventas" PostBackUrl="~/View/painel_fuerza.aspx" />
    <p></p>
</div>


</div>
  
  
  
  </div>




  <!-- Why choose us Section -->
  <!-- Our clients Section -->
  <!-- Footer -->
 
</asp:Content>
