﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="cd_ventas_diarias_view.aspx.cs" Inherits="Clients_Management.View.cd_ventas_diarias_view" %>
<asp:Content ID="Content1" ContentPlaceHolderID="HeadContent" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="FeaturedContent" runat="server">
</asp:Content>
<asp:Content ID="Content3" ContentPlaceHolderID="MainContent" runat="server">
      
  <div class="container">
            <ol class="breadcrumb">
  <li><a id="A1" runat="server" href="~/login.aspx">LOGIN</a></li>
  <li><a href="#">FUERZA DE VENTAS</a></li>
  <li><a href="#">CONSULTAS E INFORMES</a></li>
  <li class="active">VENTAS</li>
</ol>
    <div class="row">
     <div class="col-lg-12">        
      <p><asp:Label ID="lblNombre" runat="server" Text="Hola NOMBRA ADMINISTRATOR "></asp:Label></p>
     </div>    

     </div>
	  <p></p>
	 
	 <div class="row">
    <div class="col-md-12">
		<div class="well">
			
                       
            <div>&nbsp</div>
             <div class="row">
                 <h4 class="text-center">VENTAS</h4>
             <asp:GridView ID="gdvDados" runat="server" class="table table-striped table-bordered table-condensed" Font-Size="11px">
                <Columns>
                </Columns>
            </asp:GridView>	
                                         <asp:Button ID="Button2" Visible="true" runat="server" class="btn btn-primary" Text="Exportar Excel" OnClick="Button2_Click" />	
            <asp:Button ID="Button3" Visible="true" runat="server" class="btn btn-primary" Text="Exportar PDF" OnClick="Button3_Click" />					
                 </div>	
            <br /><br /><br />
                  <div class="col-md-4">
            <asp:Label ID="lblTotal" runat="server" Text="0"></asp:Label><br />
            <asp:DropDownList ID="ddlMes" class="form-control input-sm" runat="server" AutoPostBack="True" OnSelectedIndexChanged="ddlMes_SelectedIndexChanged" >
                 <asp:ListItem>Enero</asp:ListItem>
                                                                                <asp:ListItem>Febrero</asp:ListItem>
                                                                                <asp:ListItem>Marzo</asp:ListItem>
                                                                                <asp:ListItem>Abril</asp:ListItem>
                                                                                <asp:ListItem>Mayo</asp:ListItem>
                                                                                <asp:ListItem>Junio</asp:ListItem>
                                                                                <asp:ListItem>Julio</asp:ListItem>
                                                                                <asp:ListItem>Agosto</asp:ListItem>
                                                                                <asp:ListItem>Septiembre</asp:ListItem>
                                                                                <asp:ListItem>Octubre</asp:ListItem>
                                                                                <asp:ListItem>Noviembre</asp:ListItem>
                                                                                <asp:ListItem>Diciembre</asp:ListItem>
            </asp:DropDownList><br />
            <asp:RadioButton ID="rdTodos" runat="server" Text="Todos" AutoPostBack="True" GroupName="filtro" OnCheckedChanged="rdTodos_CheckedChanged" />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
            <asp:RadioButton ID="rdProduto" runat="server" Text="Product" AutoPostBack="True" GroupName="filtro" OnCheckedChanged="rdProduto_CheckedChanged" /><br />
            <asp:DropDownList ID="ddlFiltro" class="form-control input-sm" runat="server" AutoPostBack="True" OnSelectedIndexChanged="ddlFiltro_SelectedIndexChanged"></asp:DropDownList>
			
           </div>   

		</div>
	</div>
         </div>
	 
	 
	 
	 
	 
	 
	 
	 
	 
	 
    </div>
  
  
  
  
 
  
  
  </div>




  <!-- Why choose us Section -->
  <!-- Our clients Section -->
  <!-- Footer -->
</asp:Content>
