﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="login.aspx.cs" Inherits="Clients_Management.View.login" %>
<asp:Content ID="Content1" ContentPlaceHolderID="HeadContent" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="FeaturedContent" runat="server">
</asp:Content>
<asp:Content ID="Content3" ContentPlaceHolderID="MainContent" runat="server">
    <div id="section_header">
  <div class="container">
    <h2><span>Login</span></h2>
  </div>
</div>
    <div id="services">
  <div class="container">
    <div class="row">
        <form class="contact" action="painel_vendedor.html" method="">
            </form>
      <div class="col-lg-4 service">
        <h3>Login Vendedor</h3>
        <p>
		<form class="contact" action="painel_vendedor.html" method="">
      	<div class="form_details">
          <input type="text" class="text" value="Login" onFocus="this.value = '';" onBlur="if (this.value == '') {this.value = 'Subject';}">
		  <input type="text" class="text" value="Clave" onFocus="this.value = '';" onBlur="if (this.value == '') {this.value = 'Subject';}">
          <div class="clearfix"> </div>
          <button class="btn" type="submit">Enviar</button>
        </div>
      </form>
		</p>
		
        <img src="../Images/service1.jpg" class="img-responsive" alt=" "> 
      </div>
      <div class="col-lg-4 service">
        <h3>LOGIN  DIRECION DE VENTAS </h3>
        <p>
		<form class="contact" action="admin/" method="">
        <div class="form_details">
          <input type="text" class="text" value="Login" onFocus="this.value = '';" onBlur="if (this.value == '') {this.value = 'Subject';}">
		  <input type="text" class="text" value="Clave" onFocus="this.value = '';" onBlur="if (this.value == '') {this.value = 'Subject';}">
          <div class="clearfix"> </div>
          <button class="btn" type="submit">Enviar</button>
        </div>
      </form>
		</p>
      <img src="../Images/service2.jpg" class="img-responsive" alt=" "> </div>
      <div class="col-lg-4 service">
        <h3>LOGIN  ADMINISTRACION DE VENDAS </h3>
        <div class ="contact">
            <div class="form_details">
              <input type="text" class="text" value="Login" onFocus="this.value = '';" onBlur="if (this.value == '') {this.value = 'Subject';}">
		      <input type="text" class="text" value="Clave" onFocus="this.value = '';" onBlur="if (this.value == '') {this.value = 'Subject';}">
              <div class="clearfix"> </div>
              <asp:Button ID="btnLoginAdmin" class="btn" runat="server" Text="Enviar" OnClick="btnLoginAdmin_Click" />
            </div>
        </div>
      <img src="../Images/service3.jpg" class="img-responsive" alt=" "> </div>
    </div>
    <div class="row"></div>
  </div>
</div>
</asp:Content>
