﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="painel_direccion.aspx.cs" Inherits="Clients_Management.View.painel_direccion" %>
<asp:Content ID="Content1" ContentPlaceHolderID="HeadContent" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="FeaturedContent" runat="server">
</asp:Content>
<asp:Content ID="Content3" ContentPlaceHolderID="MainContent" runat="server">
<div id="section_header">
  <div class="container">
    <h2><span>   DIRECCION DE VENTAS</span></h2>
  </div>
</div>
<div id="about_section_1"></div>
  <div class="container">
    <div class="row">
     <div class="col-lg-12">        
      <p><asp:Label ID="lblNombre" runat="server" Text="Hola NOMBRA ADMINISTRATOR "></asp:Label></p>
     </div>
     <p>&nbsp;</p>
  
	 
	 <div class="row"></div>
	 
    </div>
  </div>
</asp:Content>
