﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="painel_administrator.aspx.cs" Inherits="Clients_Management.View.painel_administrator" %>
<asp:Content ID="Content1" ContentPlaceHolderID="HeadContent" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="FeaturedContent" runat="server">
</asp:Content>
<asp:Content ID="Content3" ContentPlaceHolderID="MainContent" runat="server">
 <div id="header"></div>

<div id="section_header">
  <div class="container">
    <h2><span>ADMINISTRACION DE VENTAS </span></h2>
  </div>
</div>

<div>
  <div class="container">
    <div class="row">
     <div class="col-lg-12">        
      <p><asp:Label ID="lblNombre" runat="server" Text="Hola NOMBRA ADMINISTRATOR "></asp:Label></p>
     </div>
   
	 
	 <div class="row">

         Texto explicativo sobre as funções do módulo, será enviado por Carlos
	 </div>
	 
	 
	 
	 
	 
	 
	 
	 
	 
	 
    </div>
  </div>

  <!-- Why choose us Section -->
  <!-- Our clients Section -->
  <!-- Footer -->
<div id="footer"></div>
<!-- Bootstrap core JavaScript --> 
<script type="text/javascript" src="js/bootstrap.min.js"></script>
</asp:Content>
