﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="painel_parametros.aspx.cs" Inherits="Clients_Management.View.painel_parametros" %>
<asp:Content ID="Content1" ContentPlaceHolderID="HeadContent" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="FeaturedContent" runat="server">
</asp:Content>
<asp:Content ID="Content3" ContentPlaceHolderID="MainContent" runat="server">
<div id="section_header">
  <div class="container">
    <h2><span>PARAMETROS DE OPERACION</span></h2>
  </div>
</div>


<div id="Div1">
  <div class="container">
    
      <p>Hola NOMBRA ADMINISTRATOR</p>

       <div class="col-md-12" align="center">
       <a id="A1" runat="server" href="~/View/cd_produtos.aspx" target="_self" class="btn btn-success btn-lg">Crear Grupos de Productos</a>&nbsp;
       <a id="A2" runat="server" href="~/View/GrupoVendedores.aspx" target="_self" class="btn btn-success btn-lg">Crear Grupos de Ventas</a>&nbsp;
       <a id="A4" runat="server" href="~/View/cd_diasuteis.aspx" target="_self" class="btn btn-success btn-lg">Dias Habiles del Mes</a>&nbsp;
       <a id="A5" runat="server" href="~/View/cd_claves_gestion_gantt.aspx" target="_self" class="btn btn-success btn-lg">Clave Gestion Gantt</a>&nbsp;
       <a id="A6" runat="server" href="~/View/parametros_gerais.aspx" target="_self" class="btn btn-success btn-lg">Parametros Diversos</a>&nbsp;
       <a id="A3" runat="server" href="~/View/cd_paramentrosCartaGantt.aspx" target="_self" class="btn btn-success btn-lg">Parametros carta Gantt</a></br></br>
       </div>


	 
	 
	 
    
 <div class="row">  
  
<div class="col-lg-12" align="center">


    <asp:Button ID="btnVoltar" runat="server" class="btn btn-success btn-lg" Text="Volver Parametros" PostBackUrl="~/View/parametros.aspx" />
<p></p>

</div>


</div>
  
  
  
  </div>
    </div>




  <!-- Why choose us Section -->
  <!-- Our clients Section -->
  <!-- Footer -->
</asp:Content>
