﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="planificacion.aspx.cs" Inherits="Clients_Management.View.planificacion" %>
<asp:Content ID="Content1" ContentPlaceHolderID="HeadContent" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="FeaturedContent" runat="server">
</asp:Content>
<asp:Content ID="Content3" ContentPlaceHolderID="MainContent" runat="server">
    <div id="header"></div>

<div id="section_header">
  <div class="container">
    <h2><span>ADMINISTRACION DE VENDAS - PLANIFICACION </span></h2>
  </div>
</div>
<div id="about_section_1"></div>

<div id="section_header">
  <div class="container">
    <div class="row">
     <div class="col-lg-12">        
      <p>Hola NOMBRA ADMINISTRATOR 
     </div>
     <h3 align="center">PLANIFICACION</h3>
     <div class="col-md-12" align="center">
       <a runat="server" href="~/View/cd_ventas.aspx" target="_self" class="btn btn-success btn-lg">Metas de Ventas </a>&nbsp;
         <a runat="server" href="~/View/cd_metas.aspx" class="btn btn-success btn-lg">Asignacion de Metas</a></br></br>
		 <a runat="server" href="~/View/painel_administrator.aspx" class="btn btn-success btn-lg">Volver a Panel de Administracion de Ventas</a></br></br>

      </div>
	 
	 
	 <div class="row"></div>
	 
	 
	 
	 
	 
	 
	 
	 
	 
	 
    </div>
  </div>

  <!-- Why choose us Section -->
  <!-- Our clients Section -->
  <!-- Footer -->
<div id="footer"></div>
<!-- Bootstrap core JavaScript --> 
<script type="text/javascript" src="js/bootstrap.min.js"></script>
</asp:Content>
